body {
  z-index: -1;
  overflow:scroll;
}

wrap {
  position: fixed;
  top:0;
  left:0;
  margin-left:-1rem;
  width: 100%;
  height:100%
}

.hide {
  display: none;
}

.slots {
  display: block;
  width: 89%;
  height: 80%;
  border-style: solid;
  background-color: green;
}

.ticker {
  position: relative;
  display: block;
  width: 3.1rem;
  border-style: groove;
  border-radius: 25px 25px 25px 25px;
  background-color: green;
  color: gold;
  text-align: center;
}

.slot {
  display: block;
  width: 99%;
  height: 99%;
}

.spined {
  float: left;
  margin-top: 4.5rem;
  margin-left: 6.5rem;
  display: block;
  width: 120px;
  height: 120px;
  background-color: red;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.features {
  position: relative;
  display: block;
  margin-top: -1rem;
  margin-left: -0.2rem;
  width: 100%;
  height: 50px;
  border-style: solid;
  background-color: grey;
}

.button {
  float: left;
  width: 6rem;
  margin
  display: block;
  border-style: groove;
  border-radius: 20px 20px 20px 5px;
  background-color: green;
  color: gold;
}

.button-right {
  float: right;
  width: 6rem;
  display: block;
  margin-top: -1rem;
  border-style: groove;
  border-radius: 20px 20px 20px 5px;
  background-color: green;
  color: gold;
}

.button-right:hover {
  float: right;
  width: 6rem;
  display: block;
  margin-top: -1rem;
  border-style: groove;
  border-radius: 20px 20px 20px 5px;
  background-color: gold;
  cursor: pointer;
  color: green;
}

form {
  margin-left: 5rem;
}
