.movie {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  border-style: none;
  width: 100%;
  height: 100%;
  background-color: gold;
  overflow: scroll;
  z-index: 3;
}

.DWMWhead {
  font-size: 4.3rem;
  padding: 0.4rem;
}

.DWMWimg {
  display: block;
  border-radius: 50%;
  border-style: none;
  width: 10rem;
}

.DWMWinfo {
  font-family: cursive;
  font-size: 2.2rem;
  color: blue;
  line-height: 2.3rem;
  text-indent: 3rem;
}

.crypto-text {
  font-family: cursive;
  font-size: 0.97rem;
  color: grey;
}

.watchDWMW {
  display: block;
  border-radius: 20px 15px 10px 32px;
  width: 8rem;
  background-color: blue;
  color: gold;
  font-family: cursive;
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.DWMWbuttons {
  float: left;
  margin-top: 1rem;
  margin-left: 8.5rem;
  width: 8rem;
  background-color: gold;
  color: blue;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.chat-box {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 33.9rem;
  margin-bottom: 8.5rem;
  opacity: 0.8;
  background-color: black;
}

.close {
  float: right;
  width: 3rem;
  height: 2.5rem;
  color: black;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

