<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#MindsGaming</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Community & Member Groups" />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/6ca1674b-a03a-4e9c-9563-ed6203267aba%2FMGLogo.jpeg"
    />
    <link
      rel="icon"
      href="https://cdn.glitch.com/6ca1674b-a03a-4e9c-9563-ed6203267aba%2FMGLogo.jpeg"
    />

    <script src="https://mindsgaming.glitch.me/mtcg/docs.js"></script>
    <script src="https://mtcgverse.glitch.me/metamask.js"></script>

    <link rel="stylesheet" href="https://ipack.glitch.me/mgicons.css" />

    <script src="/client.js" defer></script>
    <script src="/fly.js" defer></script>

    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/games/style.css" defer />
  </head>
  <body>
    <wrap>
      <app id="APP" class="display" title="HOME">
        <center>
          <article>
            <h1>MTCG Ecosystem & Rewards</h1>
            <p class="white">
              Exploring the blockchain with creators for the future
            </p>

            <button onclick="justexplore();">Just Explore</button>
            <button onclick="userview();">Earn Rewards</button>
          </article>
        </center>
      </app>
      <div id="quickTools" class="quicker" onclick="displayTools();">
        <tool class="display" id="TOOLS" title="TOOLS">
          <tool>
            <div onclick="HOME();" id="home" class="home" title="HOME"></div>
          </tool>
          <tool>
            <div
              onclick="quickhub();"
              id="hub"
              class="browser"
              title="Hang-Out"
            ></div>
          </tool>
          <tool>
            <div id="games" class="gamepad" title="Games"></div>
          </tool>
          <tool>
            <div
              onclick="userview();"
              id="userview"
              class="lightning"
              title="Rewards"
            ></div>
          </tool>
          <tool>
            <div id="collection" class="grid" title="Collection"></div>
          </tool>
        </tool>
      </div>

      <div class="hide" id="HUBS" title="build"></div>
      <div class="hide" id="LOGIN" title="closed">
        <center>
          <h1 class="rewards-intro" id="login-form">
            <label id="rewards-intro">
              Just copy and paste your metamask or web wallet receiver address
              to start earning rewards!
            </label>
            <form class="form" id="form">
              <input
                name="dream"
                aria-label="a new dream"
                type="text"
                maxlength="100"
                placeholder="Wallet ID"
                title="Wallet IDs Are 43 Characters"
              />
              <br />
              <button type="submit" id="submit-dream">Login</button>
            </form>
          </h1>
          <article class="white">
            <div>
              Wallet:
              <label id="mywallet" title="LOGIN">LOGIN</label>
            </div>
            <div>
              Reward Token:
              <label id="myToken" onclick="changeToken();">Random</label>
            </div>
            <section title="closed" id="pendingClaims" class="">
              Pending
              <center>
                <label id="minutes" value="0">00</label>.<label
                  id="seconds"
                  value="0"
                  >00</label
                >
              </center>
              <hr />
              <ul id="dreams"></ul>
            </section>
            <button class="hide" id="clear-dreams">Clear Dreams</button>
          </article>
        </center>
      </div>
    </wrap>
  </body>
</html>
