<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#MindsGaming -MTCG</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="web3" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Community Groups & Resources" />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/6ca1674b-a03a-4e9c-9563-ed6203267aba%2FMGLogo.jpeg"
    />

    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.global/70ca8095-a01d-4d0a-a915-a742b0998958/Controller.jpeg?"
      type="image/jpeg"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="/home.js" defer></script>
  </head>
  <body>
    <div class="darkMode">
      <div class="holder">
        <label class="title">
          MTCG Community Ecosystem
          <hr />
        </label>
        <br />
        <label class="house-token" onclick="mtcgToken();">
          <img
            class="startIMG"
            src="https://cdn.glitch.global/4d28a5f0-4bec-4873-9059-3319b8398254/Alien%20Astronaut%20.jpg"
          />
          Support the Ecosystem <br />
        </label>
        <label class="community-tokens" onclick="communityTokens();">
          <img
            class="startIMG"
            src="https://cdn.glitch.global/4d28a5f0-4bec-4873-9059-3319b8398254/AIExpolore.jpg"
          />
          Explore Community Tokens
        </label>
      </div>
      <br />
      <div class="topics">
        <h3>Quick Topics</h3>
        <a href="https://www.mintme.com/token/DWMW" target="_blank">
          <label class="topic">Web Series</label></a
        >
        <a href="https://www.mintme.com/token/SatoriD" target="_blank">
          <label class="topic">DMT Supreme</label>
        </a>

        <a href="https://www.mintme.com/token/bobdubbloon" target="_blank">
          <label class="topic">Podcasts</label></a
        >

        <a href="https://www.mintme.com/token/withinthevacuum" target="_blank">
          <label class="topic">Music</label></a
        >

        <a href="https://www.mintme.com/token/embers" target="_blank">
          <label class="topic">Books</label></a
        >
      </div>

      <div id="token-list" class="hide">
        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/DWMW.png"
          />
          <label class="mini">
            <h2>DWMW</h2>
            <a
              href="https://www.mintme.com/token/DWMW/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The project</label></a
            >
            <p>
              Community Co-op Web Series
              <br />
              <a href="https://www.mintme.com/token/DWMW" target="_blank">
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>

        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/SatoriD.png"
          />
          <label class="mini">
            <h2>SatoriD</h2>
            <a
              href="https://www.mintme.com/token/SatoriD/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The Project</label></a
            >
            <p>
              Creator, Games, DMT Supreme
              <br />
              <a href="https://www.mintme.com/token/SatoriD" target="_blank">
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>

        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/Bobdubbloon.jpeg"
          />
          <label class="mini">
            <h2>bobdubbloon</h2>
            <a
              href="https://www.mintme.com/token/bobdubbloon/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The project</label></a
            >
            <p>
              Podcasts, Recording, Editing, Creator
              <br />
              <a
                href="https://www.mintme.com/token/bobdubbloon"
                target="_blank"
              >
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>

        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/withinthevacuum.png"
          />
          <label class="mini">
            <h2>withinthevacuum</h2>
            <a
              href="https://www.mintme.com/token/withinthevacuum/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The Project</label></a
            >
            <p>
              Music, Creator, Cast and Crew
              <br />
              <a
                href="https://www.mintme.com/token/withinthevacuum"
                target="_blank"
              >
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>

        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/Embers.jpeg"
          />
          <label class="mini">
            <h2>Embers</h2>
            <a
              href="https://www.mintme.com/token/embers/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The Project</label></a
            >
            <p>
              Book Saga, Myth, Imagination
              <br />
              <a href="https://www.mintme.com/token/embers" target="_blank">
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>

        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/ottoken.png"
          />
          <label class="mini">
            <h2>Ottoken</h2>
            <a
              href="https://www.mintme.com/token/ottoken/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The Project</label></a
            >
            <p>
              Cast and Crew, Inpiration, Dreamer
              <br />
              <a href="https://www.mintme.com/token/ottoken" target="_blank">
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>

        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/Dreams.webp"
          />
          <label class="mini">
            <h2>Dreams</h2>
            <a
              href="https://www.mintme.com/token/dreams/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The Project</label></a
            >
            <p>
              Community Airdrop, Building, Dreaming
              <br />
              <a href="https://www.mintme.com/token/dreams" target="_blank">
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>

        <label class="token">
          <img
            class="smallIMG"
            src="https://cdn.glitch.global/0b074a7d-1fb5-4eca-b20f-76c8d5a403a9/MG%40.jpeg"
          />
          <label class="mini">
            <h2>MindsGaming</h2>
            <a
              href="https://www.mintme.com/token/MindsGaming/MINTME/trade"
              target="_blank"
            >
              <label class="shinyBTN">Support The Project</label></a
            >
            <p>
              Creator, Builder, Dreamer
              <br />
              <a
                href="https://www.mintme.com/token/MindsGaming"
                target="_blank"
              >
                <label class="shinyBTN">Read More</label></a
              >
            </p>
            <br />
          </label>
        </label>
        <label class="footers"></label>

        <br />
        <br />
      </div>
    </div>
  </body>
</html>
