<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#MindsGaming</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Community & Member Groups" />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/6ca1674b-a03a-4e9c-9563-ed6203267aba%2FMGLogo.jpeg"
    />
    <link
      rel="icon"
      href="https://cdn.glitch.com/6ca1674b-a03a-4e9c-9563-ed6203267aba%2FMGLogo.jpeg"
    />

    <script src="https://mindsgaming.glitch.me/mtcg/docs.js"></script>
    <script src="https://mtcgverse.glitch.me/metamask.js"></script>

    <link rel="stylesheet" href="https://ipack.glitch.me/mgicons.css" />

    <script src="/client.js" defer></script>
    <script src="/fly.js" defer></script>

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <wrap>
      <app id="APP" class="display" title="HOME">
        <center>
          <article>
            <h1>MTCG Ecosystem & Rewards</h1>
            <p class="white">
              We are a community that focuses on creativity and collaboration.
              We build cultures not promises of amazing profits and millionaire
              status. 
              <br /><br />
              With a structured community based off creators, topics and
              participation in collaborative projects our cryptocurrency
              ecosystem is managed by the creators who launched the token to
              support there favorite topics and creations in our community.
              <br /><br />
              Our goal is to make you fully independent and expand past our
              little community topics into your own independent culture for your
              passion. Of course we'd love if you stuck around and built with us
              helping maintain groups, run projects and support other creators
              in our community.
              <br /><br />
            </p>
            <a href="https://mintme.com/token/MTCG/trade" target="_blank">
              <button>Support Our Ecosystem</button></a
            >
          </article>

          <article>
            <h1>Earn Rewards</h1>
            <p class="white">
              You can earn community rewards (blockchain tokens owned by
              creators) by hanging out in our virtual hubs and playing games on
              this website :)  
            </p>

            <button onclick="userview();">Earn Rewards</button>
            <button onclick="justexplore();">Explore Hubs</button>
            <button onclick="viewgames();">View Games</button>
          </article>

          <article>
            <h1>Creator Tokens</h1>
            <p class="white">
              Creators in our ecosystem have thier own token that supports
              projects or activitys they are working on (These are the tokens
              you're earing on this site). Support the creators and purchase
              thier token, or sell the ones you have! 
            </p>
            <a href="https://mintme.com/token/GAMER/trade" target="_blank">
              <button>GAMER</button></a
            >

            <a href="https://mintme.com/token/ECLIPSE/trade" target="_blank">
              <button>ECLIPSE</button></a
            >

            <a href="https://mintme.com/token/DooBetter/trade" target="_blank">
              <button>DooBetter</button></a
            >

            <a href="https://mintme.com/token/GTPC/trade" target="_blank">
              <button>GTPC</button></a
            >

            <a href="https://mintme.com/token/DarkMark/trade" target="_blank">
              <button>DarkMark</button></a
            >
            <a
              href="https://mintme.com/token/DragonToken/trade"
              target="_blank"
            >
              <button>DragonToken</button></a
            >
          </article>

          <article>
            <h1>Collect MTCG Cards</h1>
            <p class="white">
              We have collector MTCG cards you can collect and transfer back at
              any time for the printed MTCG token value on the card!
            </p>

            <button onclick="viewcollection();">Start Your Collection!</button>
          </article>

          <article>
            <h1>Build Our Community</h1>
            <p class="white">
              Help improve our community ecosystem, games, website and
              everything else with our community builder!
            </p>
            <a href="https://app.clarity.so/mindsgaming/home" target="blank">
              <button>Join Builder</button></a
            >
            <a
              href="https://app.clarity.so/mindsgaming/pages/c5d4a0e5-fc1d-4a8c-8394-549efacf2c07"
              target="_blank"
            >
              <button>Learn More</button></a
            >
          </article>

          <article>
            <h1>Explore Groups</h1>
            <p class="white">
              We have tons of social groups and chat rooms in our community, we
              use Minds.com as our socail media!
            </p>
            <a href="https://mindsgaming.glitch.me" target="_blank">
              <button>Explore Groups</button></a
            >
            <a
              href="https://minds.com/MindsGaming/?referrer=MindsGaming"
              target="_blank"
            >
              <button>Join Minds</button></a
            >

            <a
              href="https://chat.minds.com/#/room/#BendersCasino:minds.com"
              target="_blank"
            >
              <button>Chat With Us!</button></a
            >
          </article>
          <article>
            <h1>Exploring WEB3</h1>
            <p class="white">
              We use WEB3 innovations to build our collective assets, and
              promote our content. Join us and create your own token, Mint NFT
              art and videos, build games and more!
            </p>
            <a href="https://www.mintme.com/token/MTCG/invite" target="_blank">
              <button>MINTME (Create A Token)</button></a
            >
            <a
              href="https://app.momint.so/profile/61913fd31f49a5003064c090"
              target="_blank"
            >
              <button>Momint (ART)</button></a
            >
            <a href="https://play.joystream.org/channel/2217" target="_blank">
              <button>Joystream (Videos)</button></a
            >
            <a href="https://glitch.com/@mg-games" target="_blank">
              <button>Glitch (Code Games)</button>
            </a>
          </article>
        </center>
      </app>
      <div id="quickTools" class="quicker" onclick="displayTools();">
        <tool class="display" id="TOOLS" title="TOOLS">
          <tool>
            <div onclick="HOME();" id="home" class="home" title="HOME"></div>
          </tool>
          <tool>
            <div
              onclick="quickhub();"
              id="hub"
              class="browser"
              title="Hang-Out"
            ></div>
          </tool>
          <tool>
            <div
              onclick="viewgames();"
              id="games"
              class="gamepad"
              title="Games"
            ></div>
          </tool>
          <tool>
            <div
              onclick="userview();"
              id="userview"
              class="lightning"
              title="Rewards"
            ></div>
          </tool>
          <tool>
            <div
              onclick="viewcollection();"
              id="collection"
              class="grid"
              title="Cards"
            ></div>
          </tool>
        </tool>
      </div>

      <div class="hide" id="HUBS" title="build"></div>
      <div class="hide" id="GAMES" title="build"></div>
      <div class="hide" id="COLLECTION" title="build"></div>

      <div class="hide" id="LOGIN" title="closed">
        <center>
          <h1 class="rewards-intro" id="login-form">
            <label id="rewards-intro">
              Just copy and paste your metamask or ecosystem web wallet receiver
              address to start earning rewards!
            </label>
            <form class="form" id="form">
              <input
                name="dream"
                aria-label="a new dream"
                type="text"
                maxlength="100"
                pattern=".{42,43}"
                required
                placeholder="Wallet ID"
                title="Wallet IDs Are 43 Characters"
              />
              <br />
              <button type="submit" id="submit-dream">
                Start Earning Rewards!
              </button>
            </form>
          </h1>
          <article class="white">
            <div>
              Wallet:
              <label class="overflow" id="mywallet" title="LOGIN">LOGIN</label>
            </div>
            <div>
              Reward Token:
              <label id="myToken" onclick="changeToken();">Random</label>
            </div>
            <section title="closed" id="pendingClaims" class="">
              Earned
              <center>
                <label id="minutes" value="0">00</label>.<label
                  id="seconds"
                  value="0"
                  >00</label
                >
              </center>
              <button onclick="claimUpdate();">Grab These Rewards!</button>
              <hr />
              Pending
              <meter
                id="levelUp"
                title="LOGIN"
                class="hide"
                min="0"
                low="1"
                high="60"
                max="70"
                value="0"
              ></meter>
              <hr />
              <ul class="overflow" id="dreams"></ul>
            </section>
            <button class="hide" id="clear-dreams">Clear Dreams</button>
          </article>
          <div id="wallet-links" class="hide">
            <article>
              <h1>Creator Tokens</h1>
              <p class="white">
                Creators in our ecosystem have thier own token that supports
                projects or activitys they are working on (These are the tokens
                you're earing on this site). Support the creators and purchase
                thier token, or sell the ones you have! 
              </p>
              <a href="https://mintme.com/token/GAMER/trade" target="_blank">
                <button>GAMER</button></a
              >

              <a href="https://mintme.com/token/ECLIPSE/trade" target="_blank">
                <button>ECLIPSE</button></a
              >

              <a
                href="https://mintme.com/token/DooBetter/trade"
                target="_blank"
              >
                <button>DooBetter</button></a
              >

              <a href="https://mintme.com/token/GTPC/trade" target="_blank">
                <button>GTPC</button></a
              >

              <a href="https://mintme.com/token/DarkMark/trade" target="_blank">
                <button>DarkMark</button></a
              >
              <a
                href="https://mintme.com/token/DragonToken/trade"
                target="_blank"
              >
                <button>DragonToken</button></a
              >
            </article>
            <article>
              <h1>MetaMask Help</h1>
              <p class="white">
                Our rewards tokens use the MINTME blockchain, you will need to
                add the network to metamask. Mobile users will have to manually
                add the network and import tokens, if you are on desktop you can
                connect the network and add tokens from this site!
              </p>
              <button class="tokenbutton" id="connect">Connect Network</button>

              <a href="https://mintme.com/token/ECLIPSE/trade" target="_blank">
                <button>Import Tokens</button></a
              >

              <a
                href="https://mintme.com/token/DooBetter/trade"
                target="_blank"
              >
                <button>Manual Info</button></a
              >

              <a href="https://mintme.com/token/GTPC/trade" target="_blank">
                <button>GTPC</button></a
              >
            </article>
          </div>
        </center>
      </div>
    </wrap>
  </body>
</html>
