code {
  color: white;
  font-weight: bolder;
  opacity: 1;
}

ul{
  overflow: scroll;
}
li {
  list-style-type: none;
}

.terminalFrame {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  border-style: none;
  overflow: scroll;
}

.terminaltop {
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  opacity: 0.1;
  margin: 0.5rem;
  padding: 0.3rem;
}

.term-command {
  border-style: none;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  opacity: 1;
}

.HomePrompt {
  color: white;
  font-size: 0.7rem;
}

.hide {
  display: none;
}
