body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}


li {
  list-style-type: none;
}

.terminalframe {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: -1px;
  background-color: grey;
  opacity: 0.3;
}

.terminaltop {
  position: fixed;
  display: block;
  height: 5rem;
  top: 0;
  left: 0;
  margin: 0.1rem;
  padding: 0.3rem;
  color: white;
  font-weight: bolder;
  font-size: 1.3rem;
}

.term-command {
  position: relative;
}
.hide {
  display: none;
}
