body {
  overflow: scroll;
}
.banner {
  display: block;
  width: 80%;
  margin-left: 15%;
  margin-top: -0.6%;
  height: 120px;
  background-color: blue;
  border-radius: 15px 20px 15px 20px;
  text-align: center;
  opacity: 0.6;
  z-index: -5;
}

.rightbar {
  float: right;
  display: block;
  margin-right: 5%;
  width: 12%;
  height: 450px;
  background-color: transparent;
  text-align: center;
  opacity: 0.8;
}

form {
  position: relative;
  float: right;
  margin: 0.5%;
  z-index: 6;
  clear: left;
}

.feed {
  position: relative;
  displaty: block;
  margin-top: 0.5%;
  margin-left: 15%;
  border-style: none;
}

li {
  position: relative;
  color: black;
  margin-left: 3%;
  max-width: 45%;
  list-style-type: none;
  margin: 8px;
  padding: 1px;
  border-style: groove;
}

.hub {
  text-align: center;
  font-size: 22px;
  color: gold;
}

.barLinks {
  display: block;
  border-style: solid;
  border-radius: 50%;
  background-color: gold;
  color: blue;
  width: 90%;
  height: 45px;
  font-align: cemter;
  margin: 5px;
  padding: 2px;
}
