.banner {
  display: block;
  width: 80%;
  margin-left: 15%;
  margin-top: -0.6%;
  height: 120px;
  background-color: blue;
  text-align: center;
  opacity: 0.6;
  z-index: -5;
}

.rightbar {
  float: right;
  display: block;
  margin-right: 5%;
  width: 12%;
  height: 450px;
  background-color: red;
  text-align: center;
  opacity: 0.8;
}
