.banner {
  display: block;
  width: 80%;
  margin-left: 15%;
  margin-top: -0.6%;
  height: 120px;
  background-color: blue;
  text-align: center;
  opacity: 0.6;
  z-index: -5;
}

.rightbar {
  float: right;
  display: block;
  margin-right: 5%;
  width: 12%;
  height: 450px;
  background-color: transparent;
  text-align: center;
  opacity: 0.8;
}

form {
  position: relative;
  float: right;
  margin: 0.5%;
  z-index: 3;
  clear: left;
}

.feed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 15%;
  margin-left: 15%;
  overflow: scroll;
}

li {
  position: relative;
  color: black;
  z-index: 10;
  margin-left: 3%;
  max-width: 39%;
  list-style-type: none;
  margin: 8px;
  padding: 1px;
  border-style: groove;
  z-index: 1;
}

.hub {
  text-align: center;
  font-size: 22px;
  color: gold;
}

.barLinks {
  display: block;
  border-style: solid;
  border-radius: 50%;
  background-color: gold;
  color: blue;
  width: 90%;
  height: 45px;
  font-align: cemter;
  margin: 5px;
  padding: 2px;
}