.banner {
  display: block;
  width: 80%;
  margin-left: 15%;
  margin-top: -0.6%;
  height: 120px;
  background-color: blue;
  text-align: center;
  opacity: 0.6;
  z-index: -5;
}

.rightbar {
  float: right;
  display: block;
  margin-right: 5%;
  width: 12%;
  height: 450px;
  background-color: red;
  text-align: center;
  opacity: 0.8;
}

form {
  position: relative;
  float: right;
  margin: 0.5%;
  z-index:3;
}

.feed {
  width: 60%;
  margin-left: 15%;
  height: 400px;
  background-color: red;
  z-index:-2;
}
li {
  position: relative;
  color: black;
  z-index: 10;
  margin-left: 3%;
  list-style-type: none;
  margin: 8px;
  padding: 1px;
  border-style: groove;
  z-index: 1;
}
