h1 {
  margin-bottom: -10px;
}
.rewads {
  color: gold;
  font-size: 19px;
}

.donate {
  position: relative;
  width: 60%;
  height: 350xpx;
  background-color: silver;
  border-style: groove;
  border-color: white;
  display: block;
}

.tokenItem {
  width: 100%;
  background-color: white;
  
}
a {margin: 3px;}

p {
  max-width: 900px;
}

p.tiny {
  margin-right: 50px;
  font-size: 13px;
}