h1 {
  color: pink;
}

.holder {
  display: block;
  width: 80%;
  margin: 2px;
  padding: 1px;
  background-color: grey;
  border-style: groove;
  border-color: white;
  overflow: scroll;
  height: 85%;
  z-index: 1;
}

.album {
  width: 99%;
  overflow: scroll;
  background-color: white;
  border-style: solid;
  border-color: pink;
  margin: auto;
  padding: 2px;
  opacity: 0.5;
  z-index: 2;
}

.albumT {
  color: blue;
  font-size: 19px;
  border-style: solid;
  cursor: pointer;
}

.cHolder {
  width: 155px;
  float: left;
  display: block;
  margin: 15px;
}

.button {
  display: block;
  margin: 5px;
  width: 115px;
  background-color: gray;
  border-style: solid;
  text-decoration: none;
}

.card {
  position: relative;
  float: left;
  display: block;
  width: 150px;
  height: 250px;
  background-color: black;
  margin: 5px;
  z-index: 2;
  opacity: 3;
}

.card:hover {
  display: block;
  width: 250px;
  height: 350px;
  background-color: black;
  z-index: 3;
  margin: 10px;
}

.topper {
  position: relative;
  display: block;
  width: 100%;
  background-color: red;
  opacity: 0.4;
  margin-top: -25px;
  margin-bottom: 10px;
  margin-left: -5px;
  margin-right: -5px;
  border-style: solid;
}

.grid {
  float: left;
  margin-top: 25px;
}

.dropmenu {
  margin-top: 56px;
  width: 150px;
  border-style: groove;
  overflow: scroll;
}

.dropMini {
  position: relative;
  color: red;
}
