/* styles */
/* called by your view template */

h2 {
  font-size: 20px;
  font-style: italic;
  color: red;
}

.bold {
  font-weight: bold;
}

p.blockchain {
  color: gold;
  font-size: 9px;
}

.SuperLogin {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 90.6%;
  background-color: red;
  z-index: 12;
}

.LOGIN {
  float: left;
  display: block;
  width: 55%;
  height: 100%;
  background-color: silver;
}

.backgrounds {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 45%;
  height: 91%;
  background-color: red;
  overflow: scroll;
  z-index: -1;
}

.hide {
  display: none;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 80%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  color: red;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-top: 4px;
  color: red;
  font-size: 18px;
}

a {
  color: black;
}

code {
  color: red;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 10px;
}

.mini {
  position: relitive;
  width: 50%;
}

.links {
  width: 99%;
  margin-top: 55px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  display: block;
  border-style: solid;
  border-color: grey;
}

.cashout {
  display: block;
  border-style: groove;
  margin: 3px;
  padding: 1px;
  background-color: gold;
  color: black;
}

.questions {
  float: right;
  display: block;
  font-size: 9px;
  margin-bottom: 3px;
  padding: 0.5px;
  bold: bolder;
  border-style: solid;
  border-color: red;
}

.iframe {
  position: relative;
  width: 90%;
  height: 100%;
  border-style: none;
  overflow: hidden;
}

.SuperSplash {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: -1px;
  border-style: none;
}

.dreamtoken {
  float: left;
  display: block;
  height: 20px;
  font-align: center;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 10px;
  border-style: groove;
  border-color: black;
  cursor: pointer;
}

.dreamtokens {
  float: left;
  display: block;
  height: 20px;
  font-align: center;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 10px;
  border-style: groove;
  border-color: black;
  cursor: pointer;
  background-color: yellow;
}

.avatar {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 15%;
  background-size: contain;
  border-style: groove;
  border-radius: 50%;
}
