wrap {
  position: fixed;
  overflow: scroll;
}

article {
  padding: 4px;
  width: 80%;
  height: 45%;
  background-color: green;
  margin-top: 20px;
  opacity: 0.681;
}

p {
  color: white;
  font-size: 10px;
}
.mode {
  position: fixed;
  left: 0;
  top: 0;
  margin: -0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: grey;
}
.h1 {
  margin: 5px;
  padding: 4px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

.sponsor {
  padding: 4px;
  width: 75%;
  height: 92px;
  background-color: green;
  margin-top: 20px;
  opacity: 0.681;
}

token {
  float: left;
  margin: 20px;
  padding: 1px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("/");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.bob {
  background-image: url("https://www.mintme.com/media/cache/avatar_large/uploads/images/26555720-c495-11ed-8a37-78e3b517e592.jpeg");
}
.gamer {
  background-image: url("https://www.mintme.com/media/cache/avatar_large/uploads/images/e4c457fa-16aa-11ec-ad28-78e3b517e592.jpeg");
}
.dwmw {
  background-image: url("https://www.mintme.com/media/cache/resolve/avatar_large/uploads/images/21feb9f2-e775-11ed-be75-ac162db679ce.png");
  width: 50px;
  height: 50px;
}

.next {
  border-style: groove;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 11.2px;
  font-weight: bolder;
  border-radius: 20px 15px 15px 20px;
}
.hide {
  display: none;
}
