body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.darkMode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  color: white;
  text-align: center;
}

.title {
  position: relative;
  display: block;
  margin-top: -25px;
  margin-bottom: 20px;
  font-family: cursive;
  font-size: 30px;
  font-weight: bolder;
  color: green;
}

.holder {
  float: left;
  display: block;
  margin-top: 65px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 95%;
  text-align: center;
}

.house-token {
  float: left;
  display: block;
  border-style: groove;
  width: 33%;
  text-align: center;
  color: silver;
  font-weight: bolder;
  opacity: 1;
  cursor: pointer;
}

.community-tokens {
  float: right;
  display: block;
  border-style: groove;
  border-color: silver;
  width: 33%;
  text-align: center;
  color: gold;
  font-weight: bolder;
  opacity: 2;
  cursor: pointer;
}

.startIMG {
  display: block;
  width: 100%;
  height: 150px;
}

.topics {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  border-style: groove;
  width: 90%;
  height: 180px;
  margin-bottom: 30px;
  margin-left: 5%;
  overflow: scroll;
}

.topic {
  float: left;
  margin-left: 135px;
  color: blue;
  font-family: italic;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
}

.token-list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: silver;
  z-index: 2;
  text-align: center;
}

.token {
  float: left;
  margin-left: 120px;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 80%;
  height: 200px;
  border-style: groove;
  border-color: blue;
  color: white;
  font-weight: bolder;
  overflow: scroll;
}

.smallIMG {
  float: left;
  display: block;
  width: 150px;
  height: 150px;
}

.shinyBTN {
  border-style: solid;
  width: 100px;
  border-color: gold;
  color: blue;
  font-family: cursive;
  font-size: 26px;
  cursor: pointer;
}
a {
  text-decoration: none;
}

.footers {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  color: transparent;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  border-style: solid;
}

.hide {
  display: none;
}
