/* CPU BASE*/

body {
  position: absolute;
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.blackhole {
  position: fixed;
  top: left;
  display: block;
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3dzNmFpaXVybnh2dTcycXUzb2Vkc3d2MDYyMmZzajFvcHVkMHZ4MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IFrHkIglEOg8Ba/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.56;
}

li {
  list-style-type: none;
}

button {
  display: block;
  text-align: center;
  border-style: groove;
  border-radius: 30px 30px 30px 30px;
  background-color: grey;
  color: white;
  font-weight: bolder;
  margin: 0.5rem;
}

.holder {
  position: flex;
  display: block;
  border-style: none;
  background-color: transparent;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  margin: 10rem;
  padding: 1rem;
}

.CPUname {
  position: fixed;
  top: 0;
  float: left;
  font-size: 1rem;
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
  z-index: 0;
}

.cpuName {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
  padding: 0.4rem;
  z-index: 0;
}

a {
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
}

h {
  color: green;
  font-size: 2rem;
  padding: 0.3rem;
}
h2 {
  color: gold;
  font-size: 0.9rem;
}
p {
  color: black;
  font-size: 1.45rem;
  font-weight: bold;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  border-style: groove;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-left: -5px;
  background-color: black;
  color: green;
  opacity: 0.6;
  z-index: 10;
}
apps {
  float: left;
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
  margin-left: -10px;
  margin-top: -5px;
  opacity: 0.7;
  z-index: 1;
}
.apps {
  position: fixed;
  float: left;
  width: 100%;
  height: 98%;
  display: block;
  background-color: black;
  margin-left: -10px;
  margin-top: -5px;
  opacity: 0.545;
  overflow: scroll;
  z-index: 6;
}

.splash {
  position: fixed;
  float: left;
  width: 100%;
  height: 99%;
  display: block;
  background-color: black;
  margin-left: -10px;
  margin-top: -5px;
  opacity: 0.7;
  overflow: auto;
  z-index: 2;
}

.group {
  float: left;
  width: 65px;
  height: 50px;
  margin: 6%;
  z-index: 3;
  text-align: center;
  font-size: 11px;
  color: red;
}
.group-icon {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 6%;
  z-index: 3;
}

.start {
  float: left;
  width: 15%;
  margin-left: -4px;
  margin-right: 0.5%;
  height: 99%;
  display: block;
  background-image: url("https://cdn.glitch.global/70ca8095-a01d-4d0a-a915-a742b0998958/Controller.jpeg?v");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 4;
}

.start-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 5rem;
  height: 16rem;
  display: block;
  border-style: solid;
  background-color: grey;
  color: green;
  opacity: 1;
  overflow: scroll;
  margin-bottom: 4rem;
  z-index: 9;
}

.menu-item {
  display: block;
  float: left;
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  border-style: groove;
  color: white;
  padding: 0.3px;
  margin-left: -2px;
}

.side-menu {
  position: fixed;
  left: 0;
  bottom: 4rem;
  width: 5rem;
  height: 16rem;
  margin-left: 4.3rem;
  display: block;
  border-style: groove;
  background-color: grey;
  opacity: 1;
  text-align: center;
  font-size: 0.5rem;
  color: white;
  overflow: scroll;
  z-index: 9;
}

.footer-icon {
  float: left;
  width: 3rem;
  height: 99%;
  margin-left: 0.3%;
  margin-right: 0.5%;
  display: block;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  background-color: white;
  text-align: center;
  font-size: 10px;
  color: blue;
}

.reward {
  float: left;
  width: 13rem;
  border-style: groove;
  display: block;
  text-align: center;
  font-size: 0.55rem;
  margin: 1rem;
  background-color: black;
  color: white;
}

.shopitems {
  float: left;
  width: 80%;
  margin: 4rem;
}
.helpimg {
  display: block;
  width: 15rem;
  height: 5rem;
}
.helpimg hover {
  display: block;
  width: 35rem;
  height: 35rem;
}

.notepad {
  margin: auto;
  width: 80%;
  border-style: solid;
  background-color: white;
  color: red;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.x {
  position: fixed;
  float: left;
  display: block;
  width: 12px;
  height: 12px;
  background-color: red;
  color: white;
  border-style: groove;
  padding: 2px;
  text-align: center;
  margin-top: -3px;
  margin-left: 3px;
  margin-bottom: 2px;
  z-index: 10;
}

/* wallet */
.wallet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  border-style: groove;
  overflow: scroll;
  opacity: 0.8;
  background-color: grey;
}

.wallet-top {
  display: block;
  width: 100%;
  height: 6.5%;
  background-color: black;
}

.MTCG-top {
  float: left;
  color: white;
  font-weight: bold;
  margin-left: 35px;
  padding: 0.5px;
}

.ecosystem-list {
  position: absolute;
  display: block;
  border-style: solid;
  margin-top: 3%;
  left: 0;
  top: 0;
  height: 110%;
  width: 6.5%;
  background-color: black;
  color: gold;
  overflow: scroll;
}

.T-list {
  color: white;
  font-weight: bolder;
  font-size: 13px;
  text-align: center;
}

.wallet-name {
  float: left;
  color: gold;
  font-weight: bold;
  margin: 1px;
  padding: 0.5px;
  font-size: 10px;
}

.wallet-article {
  display: block;
  width: 35%;
  border-style: groove;
  margin: 25px;
}
.form {
  display: block;
  width: 100%;
  height: 250px;
  background-color: blue;
  color: white;
}

.points {
  float: right;
  margin-right: 10px;
  margin-top: -10px;
  padding: 1px;
  color: gold;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
}
