h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

div {
  width: 100%;
}
.form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  width: 6.8rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  display: block;
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

.button {
  font-size: 16px;
  border-radius: 3px;
  width: 7rem;
  background-color: gold;
  color: red;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: yellow;
}

.button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  font-style: italic;
  color: red;
}

p.blockchain {
  color: gold;
  font-size: 9px;
}

.SuperLogin {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 1;
}

.LOGIN {
  float: left;
  display: block;
  width: 55%;
  height: 100%;
  background-color: silver;
}

.backgrounds {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 45%;
  height: 100%;
  background-color: red;
  overflow: scroll;
  z-index: -1;
}

.hide {
  display: none;
}

a {
  color: black;
}

code {
  color: red;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 10px;
}

.mini {
  position: relitive;
  width: 50%;
}

.links {
  width: 99%;
  margin-top: 55px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  display: block;
  border-style: solid;
  border-color: grey;
  cursor: pointer;
}

.cashout {
  display: block;
  border-style: groove;
  margin: 3px;
  padding: 1px;
  background-color: gold;
  color: black;
}

.questions {
  float: right;
  display: block;
  font-size: 9px;
  margin-bottom: 3px;
  padding: 0.5px;
  font-weight: bolder;
  border-style: solid;
  border-color: red;
}

.iframe {
  position: relative;
  width: 90%;
  height: 100%;
  border-style: none;
  overflow: hidden;
}

.SuperSplash {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: -1px;
  border-style: none;
}

.dreamtoken {
  float: left;
  display: block;
  height: 20px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 10px;
  border-style: groove;
  border-color: black;
  background-color: blue;
  cursor: pointer;
}

.dreamtokens {
  float: left;
  display: block;
  height: 20px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 10px;
  border-style: groove;
  border-color: black;
  cursor: pointer;
  background-color: yellow;
}

.avatar {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 30%;
  margin-left: 2%;
  background-size: contain;
}

miner {
  display: none;
}

.minds-share-button {
  height: 20px;
}

.bubble {
  float: left;
  margin: 7%;
  border-style: groove;
  border-color: silver;
  border-radius: 45px 15px 45px 15px;
  padding: 5px;
  color: grey;
  opacity: 0.8;
}

.userView {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 180px;
  background-color: silver;
  opacity: 0.6;
  z-index: 3;
}

label {
  color: ;
}

.rewardicon {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  margin-bottom: 2.27rem;
  margin-right: 12rem;
  width: 45px;
  height: 45px;
  background-color: gold;
  background-image: url("/images/coinsTwo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: white;
  opacity: 0.6;
  z-index: 3;
}
.rewardiconL {
  position: relative;
  display: block;
  margin-top: 3%;
  width: 245px;
  height: 245px;
  background-color: gold;
  background-image: url("/images/coinsTwo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  font-size: 45px;
  color: red;
  opacity: 0.6;
  z-index: 3;
}

.profileicon {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  margin-bottom: 2.27rem;
  margin-right: 7.59rem;
  width: 47px;
  height: 47px;
  background-color: gold;
  background-image: url("/images/avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 1;
  z-index: 3;
}

.loginImage {
  position: relative;
  display: block;
  width: 25rem;
  height: 40rem;
  background-color: transparent;
  background-image: url("/images/login.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.rewardPop {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin-right: 11rem;
  margin-bottom: 3rem;
  background-color: transparent;
  background-image: url("/images/confetti.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2003;
}
.levelupIMG {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 52px;
  margin-right: 11rem;
  margin-bottom: 3rem;
  background-color: transparent;
  background-image: url("https://cdn.glitch.global/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28/levelup.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

.overflow {
  display: block;
  overflow: scroll;
  max-height: 400px;
}

.floatRight {
  float: right;
  cursor: pointer;
}

.offline {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 12;
}

.offlineIMG {
  position: relative;
  display: block;
  width: 15%;
  height: 20%;
  background-color: red;
  background-image: url("images/login.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.helpIcon {
  float: lwft;
  display: block;
  margin-left: 9.2rem;
  margin-top: -1.1rem;
  width: 15px;
  height: 15px;
  background-image: url("https://cdn.pixabay.com/photo/2020/10/15/15/05/question-mark-5656992_960_720.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.version {
  font-size: 6px;
  color: black;
  width: 20px;
  height: 20px;
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.glitch.global/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28/checkmark.png");
}

.gamerIMG {
  display: block;
  color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.glitch.me/76239ef0-e5c6-4e29-9830-26d4ec2dfc0b%2FGAMER.jpeg");
}

.doobetterIMG {
  display: block;
  color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2FDOOBETTER.png");
}
.eclipseIMG {
  display: block;
  color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.minds.com/fs/v1/thumbnail/1279208251572883462/xlarge/");
}

.gtpcIMG {
  display: block;
  color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.glitch.global/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28/GTPC_20220120141137.png");
}

.dragontokenIMG {
  display: block;
  color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn.glitch.global/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28/ZomboMeme%2017012022164751.jpg");
}

.darkmarkIMG {
  display: block;
  color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://momintdev.blob.core.windows.net/uploads/449891fa-8ccc-4bcf-851a-d54b3a3cf7eb.jpg");
}

.downarrow {
  display: block;
  border-style: groove;
  width: 60%;
  border-radius: 0px 50px 0px 0px;
}
.downarrowG {
  display: block;
  border-style: groove;
  width: 60%;
  border-radius: 0px 50px 0px 0px;
  background-color: green;
}
.downarrow:hover {
  display: block;
  border-style: groove;
  width: 60%;
  border-radius: 0px 50px 0px 0px;
  background-color: gold;
}

.gameWrap {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.game {
  float: left;
  display: block;
  margin: 3%;
}

.gameicon {
  width: 250px;
  height: 150px;
}

.notice {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: grey;
}