h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

div {
  width: 100%;
}
.form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: transparent;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  width: 6.8rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

.button {
  font-size: 16px;
  border-radius: 3px;
  width: 7rem;
  background-color: gold;
  color: red;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  font-align: center;
}

.button:hover {
  background-color: yellow;
}

.button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  font-style: italic;
  color: red;
}

.bold {
  font-weight: bold;
}

p.blockchain {
  color: gold;
  font-size: 9px;
}

.SuperLogin {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 1;
}

.LOGIN {
  float: left;
  display: block;
  width: 55%;
  height: 100%;
  background-color: silver;
}

.backgrounds {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 45%;
  height: 100%;
  background-color: red;
  overflow: scroll;
  z-index: -1;
}

.hide {
  display: none;
}

a {
  color: black;
}

code {
  color: red;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 10px;
}

.mini {
  position: relitive;
  width: 50%;
}

.links {
  width: 99%;
  margin-top: 55px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  display: block;
  border-style: solid;
  border-color: grey;
  cursor: pointer;
}

.cashout {
  display: block;
  border-style: groove;
  margin: 3px;
  padding: 1px;
  background-color: gold;
  color: black;
}

.questions {
  float: right;
  display: block;
  font-size: 9px;
  margin-bottom: 3px;
  padding: 0.5px;
  bold: bolder;
  border-style: solid;
  border-color: red;
}

.iframe {
  position: relative;
  width: 90%;
  height: 100%;
  border-style: none;
  overflow: hidden;
}

.SuperSplash {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: -1px;
  border-style: none;
}

.dreamtoken {
  float: left;
  display: block;
  height: 20px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 10px;
  border-style: groove;
  border-color: black;
  background-color: blue;
  cursor: pointer;
}

.dreamtokens {
  float: left;
  display: block;
  height: 20px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 10px;
  border-style: groove;
  border-color: black;
  cursor: pointer;
  background-color: yellow;
}

.avatar {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 30%;
  margin-left: 2%;
  background-size: contain;
}

miner {
  display: none;
}

.minds-share-button {
  height: 20px;
}

.bubble {
  float: left;
  margin: 7%;
  border-style: groove;
  border-color: silver;
  border-radius: 45px 15px 45px 15px;
  padding: 5px;
  color: grey;
  opacity: 0.8;
}

.userView {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 200px;
  background-color: silver;
  opacity: 0.6;
  z-index: 3;
}

label {
  color: ;
}

.rewardicon {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  margin-bottom: 2.27rem;
  margin-right: 12rem;
  width: 45px;
  height: 45px;
  background-color: gold;
  background-image: url("/images/coinsTwo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: white;
  opacity: 0.6;
  z-index: 3;
}

.profileicon {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  margin-bottom: 2.27rem;
  margin-right: 7.59rem;
  width: 47px;
  height: 47px;
  background-color: gold;
  background-image: url("/images/avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 1;
  z-index: 3;
}

.loginImage {
  position: relative;
  display: block;
  width: 25rem;
  height: 40rem;
  background-color: transparent;
  background-image: url("/images/login.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.rewardPop {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin-right: 11rem;
  margin-bottom: 3rem;
  background-color: transparent;
  background-image: url("/images/confetti.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

.SuperSplash {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 2;
}

.overflow {
  display: block;
  overflow: scroll;
  max-height: 400px;
}

.floatRight {
  float: right;
  cursor: pointer;
}

.offline {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 12;
}

.offlineIMG {
  position: relative;
  display: block;
  width: 15%;
  height: 20%;
  background-color: red;
  background-image: url("images/login.png");
  background-size: contain;
  background-repeat: no-repeat;
}
