wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  filter: opacity(60%);
  z-index: -1;
}

.wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  margin-top: -1px;
  margin-left: -0.5;
  z-index: 1;
}

h1 {
  font-style: italic;
  color: #373fff;
}

tool {
  float: left;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.quick {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  margin-top: 3px;
  width: 80px;
  height: 50px;
  border-style: groove;
  border-radius: 15px 1px 30px 30px;
}

.quicker {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 3px;
  width: 30%;
}

.home {
  position: relative;
  margin: 3px;
}

.lightning {
  position: relative;
  margin: 3px;
}

.browser {
  position: relative;
  margin: 3px;
}

.grid {
  position: relative;
  margin: 3px;
  border-radius: 50%;
}
.hide {
  display: none;
}
