.mode {
  position: fixed;
  left: 0;
  top: 0;
  margin: -0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: grey;
}

.tabs {
  position: fixed;
  display: block;
  border-bottom: white;
  background-color: black;
  top: 0;
  left: 0;
  margin-bottom: 3px;
  width: 100%;
  height: 5rem;
  opacity: 0.6;
}

.tab {
  float: left;
  margin: 15px;
  display: block;
  width: 20%;
  height: 50px;
  border-style: groove;
  color: white;
  text-align: center;
}

.preview {
  width: 90%;
  height: 100%;
  margin-top: 5rem;
  overflow: scroll;
}

.h1 {
  float: right;
  margin: 3px;
  padding: 2px;
  color: gold;
}

.p {
  float: right;
  margin: 3px;
  padding: 2px;
  color: blue;
  font-size: 10.2px;
}
