wrap {
  position: fixed;
  overflow: scroll;
}

article {
  padding: 4px;
  width: 80%;
  height: 45%;
  background-color: green;
  margin-top: 20px;
  opacity: 0.681;
}

p {
  color: white;
  font-size: 10px;
}
.mode {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  margin: -0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: grey;
}

.preview {
  width: 90.5%;
  height: 600px;
  float: right;
  margin: 25px;
  padding: 3px;
}

.next {
  float: right;
  border-style: groove;
  background-color: red;
  color: white;
  width: 15%;
  text-align: center;
  font-size: 11.2px;
  font-weight: bolder;
  border-radius: 20px 15px 15px 20px;
  margin-top: 22.5rem;
  margin-right: -11.67rem;
}

.h1 {
  margin: 5px;
  padding: 4px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

.h2 {
  margin: 5px;
  padding: 4px;
  font-size: 25px;
  color: gold;
  font-weight: bolder;
  text-align: center;
}

.playme {
  float: left;
  display: block;
  width: 30%;
  height: 1.9rem;
  border-style: solid;
  margin: 5px;
  padding: 4px;
  font-size: 16px;
  color: white;
  background-color: grey;
  font-weight: bolder;
  cursor: pointer;
}
.sponsor {
  padding: 4px;
  width: 75%;
  height: 92px;
  background-color: green;
  margin-top: 20px;
  opacity: 0.681;
}

token {
  float: left;
  margin: 20px;
  padding: 1px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("/");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.bob {
  background-image: url("https://mtcg.glitch.me/images/BDB.jpeg");
}
.gamer {
  background-image: url("https://mtcg.glitch.me/images/GAMER.jpeg");
}
.dwmw {
  background-image: url("https://mtcg.glitch.me/images/DWMW.png");
  width: 50px;
  height: 50px;
}

.w8w {
  background-image: url("https://mtcg.glitch.me/images/WTV.png");
  width: 50px;
  height: 50px;
}

.wwow {
  background-image: url("https://mtcg.glitch.me/images/WWOW.png");
  width: 50px;
  height: 50px;
}

.satorid {
  background-image: url("https://mtcg.glitch.me/images/SatoriD.png");
  width: 50px;
  height: 50px;
}

.candys {
  background-image: url("https://mtcg.glitch.me/images/Candys.png");
  width: 50px;
  height: 50px;
}

.hide {
  display: none;
}
