wrap {
  position: fixed;
  overflow: scroll;
}

article {
  padding: 4px;
  width: 80%;
  height: 45%;
  background-color: green;
  margin-top: 20px;
  opacity: 0.681;
}

p {
  color: white;
  font-size: 10px;
}
.mode {
  position: fixed;
  left: 0;
  top: 0;
  margin: -0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: grey;
}
.h1 {
  margin: 5px;
  padding: 4px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

.sponsor {
  padding: 4px;
  width: 75%;
  height: 92px;
  background-color: green;
  margin-top: 20px;
  opacity: 0.681;
}

token {
  float: left;
  margin: 20px;
  padding: 1px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("/");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.bob {
  background-image: url("https://mtcg.glitch.me/images/BDB.jpeg");
}
.gamer {
  background-image: url("https://mtcg.glitch.me/images/GAMER.jpeg");
}
.dwmw {
  background-image: url("https://mtcg.glitch.me/images/DWMW.png");
  width: 50px;
  height: 50px;
}

.w8w {
  background-image: url("https://mtcg.glitch.me/images/WTV.png");
  width: 50px;
  height: 50px;
}

.wwow {
  background-image: url("https://mtcg.glitch.me/images/WWOW.png");
  width: 50px;
  height: 50px;
}

.satorid {
  background-image: url("https://mtcg.glitch.me/images/SatoriD.png");
  width: 50px;
  height: 50px;
}

.candys {
  background-image: url("https://mtcg.glitch.me/images/Candys.png");
  width: 50px;
  height: 50px;
}

.next {
  border-style: groove;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 11.2px;
  font-weight: bolder;
  border-radius: 20px 15px 15px 20px;
}
.hide {
  display: none;
}
