.mode {
  position: fixed;
  left: 0;
  top: 0;
  margin: -0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: grey;
}

.tabs {
  position: fixed;
  display: block;
  border-bottom: white;
  background-color: black;
  top: 0;
  left: 0;
  margin-bottom: 3px;
  width: 100%;
  height: 5rem;
  opacity: 0.6;
}

.tab {
  float: left;
  margin: 15px;
  display: block;
  width: 14.1%;
  height: 32px;
  border-style: groove;
  color: white;
  text-align: center;
}

.preview {
  width: 90%;
  height: 100%;
  margin-top: 5rem;
  overflow: scroll;
}

.h1 {
  position: fixed;
  top: 0;
  right: 0;
  margin: 3px;
  padding: 2px;
  color: gold;
}

.p {
  color: white;
  font-size: 6.2px;
}

.playlist {
  margin-top: 3rem;
  width: 80%;
  overflow: scroll;
}
.quest-playlist {
  margin-top: 7rem;
  width: 80%;
  overflow: scroll;
}

.highlight {
  display: block;
  width: 60%;
  height: 3.5rem;
  border-style: solid;
  margin: 20px;
  padding: 4px;
  font-size: 16px;
  color: blue;
  background-color: yellow;
  font-weight: bolder;
}

.playme {
  display: block;
  width: 60%;
  height: 3.5rem;
  border-style: solid;
  margin: 20px;
  padding: 4px;
  font-size: 16px;
  color: white;
  background-color: grey;
  font-weight: bolder;
  cursor: pointer;
}

token {
  float: left;
  margin: 20px;
  padding: 1px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("/");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.bob {
  background-image: url("https://mtcg.glitch.me/images/BDB.jpeg");
}
.gamer {
  background-image: url("https://mtcg.glitch.me/images/GAMER.jpeg");
}
.dwmw {
  background-image: url("https://mtcg.glitch.me/images/DWMW.png");
  width: 50px;
  height: 50px;
}

.w8w {
  background-image: url("https://mtcg.glitch.me/images/WTV.png");
  width: 50px;
  height: 50px;
}

.wwow {
  background-image: url("https://mtcg.glitch.me/images/WWOW.png");
  width: 50px;
  height: 50px;
}

.satorid {
  background-image: url("https://mtcg.glitch.me/images/SatoriD.png");
  width: 50px;
  height: 50px;
}

.candys {
  background-image: url("https://mtcg.glitch.me/images/Candys.png");
  width: 50px;
  height: 50px;
}
.home {
  display: block;
}

.hide {
  display: none;
}
