
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
 opacity: .5;
  z-index: -1;
}


ul {
  position: fixed;
  top: 0;
  width: 96%;
  height: 93%;
  border-style: none;
  overflow: scroll;
}

.form {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 2px;
  width: 100%;
}

.something {
  display: block;
  float: left;
  margin-bottom: 10%;
  margin-right: 80%;
  border-radius: 15px 40px 20px 10px; 
  border-style: solid;
  border-color: green;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  overflow: show;
}

.break {
  margin-left: .5rem;
  margin-right: 3rem;
  margin-bottom:5rem;
}

.sender {
  width: 80%;
}

.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: -.5px;
  width: 45%;
}

.hide {
  display: none;
}