body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: green;
}

.topper {
  position: fixed;
  display: block;
  background-color: black;
  border-style: groove;
  margin: -5px;
  padding: 0.1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

.sidebar-right {
  position: fixed;
  display: block;
  border-style: solid;
  top: 0;
  right: 0;
  margin-top: 3rem;
  height: 100%;
  width: 5.1rem;
  background-color: grey;
  overflow: scroll;
  opacity: 0.6;
}
