body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: green;
}

.topper {
  position: fixed;
  display: block;
  background-color: black;
  border-style: groove;
  margin: -5px;
  padding: 0.1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

.sidebar-right {
  position: fixed;
  display: block;
  border-style: solid;
  top: 0;
  right: 0;
  margin-top: 3rem;
  height: 100%;
  width: 5.1rem;
  background-color: grey;
  overflow: scroll;
  opacity: 0.6;
}
.slider {
  float: right;
  display: block;
  border-style: solid;
  border-radius: 15px 20px 40px 18px;
  width: 2rem;
  height: 1.2rem;
}
.slider-top {
  float: right;
  display: block;
  border-style: solid;
  border-radius: 15px 20px 40px 18px;
  width: 2rem;
  height: 1.2rem;
  margin: 1.1rem;
  background-color: white;
}

.hide {
  display: none;
}


.map {
  position: fixed;
  display: block;
  border-style: none;
  width: 100%;
  margin-right: 5.5rem;
  margin-top: 3rem;
  margin-left: -0rem;
}

token {
  position: relative;
  display:block;
  width: 20rem;
  height: 20rem;
  background-color: gold;
  border-radius: 15px 60px 10px 80px;
  text-align: center;
}

.castle {
  width: 15rem;
  height: 10rem;
  display: block;
  image
  border-style: 15px 15px 15px 15px;
}

.mini-castle {
  float: left;
  width: 5rem;
  height: 2rem;
}