.card {
  position: fixed;
  width: 250px;
  height: 350px;
  margin: 15px;
  padding: 1px;
  border-style: solid;
}

.card .value {
  float: left;
  font-size: 25px;
  font-weight: bolder;
}

.card .suit {
  background-image: url("https://www.thatsoftwaredude.com/images/post/0f631eeb-6c4a-4bfd-9f86-e0a08ae8584b.png");
  height: 100px;
  width: 90px;
  color: transparent;
}

.card .diamonds {
  background-position-y: 100px;
}

.card .hearts {
  background-position-x: 90px;
}

.card .clubs {
  background-position-x: 90px;
  background-position-y: 100px;
}
