
.farm {
  position: relative;
  width: 80%;
  height: 80%;
}

.tools {
  position: relative;
  width: 80%;
  height: 20%;
}

.pixel {
  float:left;
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: green;
  
}

.salt {
  background-color:black;
}

.hide {
  display: none;
}