wrap {
  position: fixed;
  top: o;
  left: 0;
  width: 100%;
  height: 100%;
}
.farm {
  position: relative;
  width: 80%;
  height: 80%;
}

.tools {
  position: relative;
  width: 80%;
  height: 20%;
}

.pixel {
  float:left;
  width: 50px;
  height: 10%;
  background-color: green;
  
}

.salt {
  background-color:black;
}

.hide {
  display: none;
}