.farm {
  position: relative;
  width: 80%;
  height: 80%;
}

.tools {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 20%;
}

.pixel {
  float: left;
  width: 80px;
  height: 50px;
  margin: 5px;
  background-color: green;
}

.salt {
  float: left;
  width: 80px;
  height: 50px;
  margin: 5px;
  background-color: black;
}

.hide {
  display: none;
}
