      .gamewrap {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: blue;
        overflow: scroll;
      }
      .gameSplash {
        position: fixed;
        display: block;
        margin: -1px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .gTitle {
        margin-top: 35%;
        font-size: 25px;
      }
      .pinnBurgers {
        float: left;
        display: block;
        margin-top: 3%;
        margin-left: 10%;
        background-color: transparent;
        background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28/pinnburgers.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 15rem;
        height: 7rem;
      }
      .elcipseSounds {
        float: left;
        display: block;
        margin-top: 3%;
        margin-left: 10%;
        background-color: white;
        background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2Fcow.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 15rem;
        height: 7rem;
      }
      .gametest {
        float: left;
        display: block;
        margin-top: 3%;
        margin-left: 10%;
        background-color: transparent;
        color: white;
        background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28/gametest.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 15rem;
        height: 7rem;
      }
      .bombsG {
        float: left;
        display: block;
        margin-top: 3%;
        margin-left: 10%;
        background-color: white;
        color: black;
        background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2Fpixel.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 15rem;
        height: 7rem;
      }
      .slots {
        float: left;
        display: block;
        margin-top: 3%;
        margin-left: 10%;
        background-color: white;
        color: black;
        background-image: url("https://cdn.glitch.global/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28/slots.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 15rem;
        height: 7rem;
      }
