wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.playerOne {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: grey;
  opacity: 0.6;
}

.playerTotal {
  display: block;
  border-style: groove;
  padding: 2px;
  width: 50px;
  border-color: white;
  background-color: yellow;
  color: red;
  border-radius: 20px 30px 10px 1px;
  margin-bottom: 15px;
  margin-top: -15px;
  opacity: 0.7;
}

.hide {
  display: none;
}
