mtcg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: -0.1rem;
  background-color: red;
  z-index: -1;
  opacity: 0.6;
}

.mtcgmap {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  height: 90%;
  background-color: black;
  z-index: 2;
}

.card {
  float: left;
  width: 3.6rem;
  height: 99%;
  margin: 0.25rem;
  cursor: pointer;
}
.card:hover {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0.25rem;
  z-index: 3;
}

.minicard {
  float: left;
  width: 4rem;
  height: 6rem;
  margin-top: 10rem;
  margin-right: 2px;
  margin-left: 1px;
}

.p1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  max-height: 50%;
  background-color: green;
  overflow: scroll;
}
.p2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  max-height: 50%;
  background-color: green;
  overflow: scroll;
}

.mtcgtools {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 3.6rem;
  margin: 0.6rem;
  padding: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  overflow: scroll;
  z-index: -1;
}

.battlebutton {
  max-width: 5rem;
  color: white;
  border-style: groove;
  text-align: center;
  cursor: pointer;
}

.specialtext {
  max-width: 5rem;
  color: white;
  text-align: center;
}

.mtcgmeter {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 15rem;
}

.mtcgMETER {
  float: left;
  transform: rotate(90deg);
  margin-top: 10rem;
  margin-left: -4rem;
  height: 0.5rem;
  width: 15rem;
  margin: clear;
}

.scroll {
  overflow: scroll;
}

.hide {
  display: none;
}
