wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: -1;
}

.playerOne {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: transparent;
  opacity: 0.6;
  z-index: 0;
}

.playerTotal {
  display: block;
  border-style: groove;
  padding: 2px;
  width: 50px;
  border-color: white;
  background-color: yellow;
  color: red;
  border-radius: 20px 30px 10px 1px;
  margin-bottom: 15px;
  margin-top: -15px;
  opacity: 0.7;
  z-index: 1;
}

.card {
  float: left;
  display: block;
  width: 80px;
  height: 150px;
  background-color: black;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-top: -75px;
  z-index: 2;
  opacity: 3;
}

.card:hover {
  position: absolute;
  float: left;
  display: block;
  width: 150px;
  height: 250px;
  background-color: black;
  margin-right: 5px;
  margin-bottom: 35px;
  margin-top: -180px;
  z-index: 2;
  opacity: 3;
}

.hide {
  display: none;
}
