wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.playerOne {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: grey;
  opacity: 0.6;
}

.playerTotal {
  display: block;
  border-style: groove;
  padding: 2px;
  width: 50px;
  border-color: white;
  background-color: yellow;
  color: red;
  border-radius: 20px 30px 10px 1px;
  margin-bottom: 15px;
  margin-top: -15px;
  opacity: 0.7;
}

.hide {
  display: none;
}

.card {
  position: relative;
  float: left;
  display: block;
  width: 150px;
  height: 250px;
  background-color: black;
  margin: 5px;
  z-index: 2;
  opacity: 3;
}

.card:hover {
  display: block;
  width: 250px;
  height: 350px;
  background-color: black;
  z-index: 3;
  margin: 10px;
}
