.map {
  position: fixed;
  background-color: silver;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bombs {
  width: 65%;
  height: 85%;
  margin-top: 10px;
  border-style: groove;
  border-color: silver;
  overflow: scroll;
  background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2Fpixel.png")
}
.tools {
  width: 65%;
  height: 7%;
  border-style: groove;
  border-color: silver;
}
.tool {
  cursor: pointer;
}

.pixel {
  float: left;
  margin: 0.3px;
  width: 55px;
  height: 55px;
  background-color: red;
  border-color: black;
  border-style: solid;
  background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2Fpixel.png");
  background-size: contain;
  cursor: pointer;
}
.rock {
  float: left;
  margin: 0.3px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-color: black;
  border-style: solid;
  background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2Frock.webp");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.bomb {
  float: left;
  margin: 0.3px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-color: black;
  border-style: solid;
  background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2Fbomb.webp?v=1638407392947");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.reward {
  float: left;
  margin: 0.3px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-color: black;
  border-style: solid;
  background-image: url("https://cdn.glitch.me/f23d0d76-dc88-4f4e-afe2-9bd56ac40b28%2Freward.webp");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.intro {
  z-index: -1;
}

.button {
  float: left;
  width: 8rem;
  margin: 2px;
  display: block;
  border-style: groove;
  border-radius: 20px 20px 20px 5px;
  background-color: green;
  color: gold;
}

.button:hover {
  float: left;
  width: 8rem;
  margin: 2px;
  display: block;
  border-style: groove;
  border-radius: 20px 20px 20px 5px;
  background-color: gold;
  color: green;
  cursor: pointer;
}

.button-right {
  float: right;
  width: 8rem;
  display: block;
  margin-top: -1rem;
  border-style: groove;
  border-radius: 20px 20px 20px 5px;
  background-color: green;
  color: gold;
}

.button-right:hover {
  float: right;
  width: 8rem;
  display: block;
  margin-top: -1rem;
  border-style: groove;
  border-radius: 20px 20px 20px 5px;
  background-color: gold;
  cursor: pointer;
  color: green;}

.label {
  float: left;
  margin: 5px;
  border-style: solid;
  border-color: gold;
}

.hide {
  display: none;
}