.mtcgBoard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  background-image: url("https://lh3.googleusercontent.com/sDZn9ERq9v4ORjKEnYgDNoWmgJl3Ltm8jTWK7Wz-zSjtRA-le9jCfXPphRIRW5Iy7nwI5bpupUsMIX-EfzSIsmaP7BGwjuNfidxG");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.armymen {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 3;
}
.playercard {
  margin-top: 15%;
}

.playerMove {
  margin-top: 5%;
}

.botcard {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15%;
  margin-right: 20%;
  z-index: 3;
}

.army {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22%;
  margin-left: 80px;
  background-color: transparent;
  z-index: 2;
}
.botarmy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 22%;
  margin-left: 80px;
  background-color: transparent;
  z-index: 6;
}

.playdeck {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 8%;
  height: 115px;
  margin: 2px;
  display: block;
  cursor: pointer;
  background-color: blue;
  z-index: 3;
}

.attack {
  position: relative;
  float: left;
  margin-left: 20%;
  margin-top: 11%;
}

.hide {
  dispay: none;
}

.battles {
  position: relative;
  margin-top: 30%;
  margin-left: 36%;
  text-align: center;
  width: 19%;
  background-color: red;
  border-style: groove;
  border-color: black;
}
