.mtcgBoard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.army {
  position: relative;
  margin-top: 37%;
  width: 100%;
  height: 20%;
  background-color: green;
}

.card {
  position: relative;
  float: left;
  display: block;
  margin-left: .5%;
  margin-right: 2px;
  width: 90px;
  height: 110px;
  padding: 1px;
  background-color: blue;
}
card {
  position: relative;
  float: left;
  display: block;
  margin-left: 5%;
  margin-right: 2px;
  width: 90px;
  height: 110px;
  padding: 1px;
  background-color: blue;
}