.mtcgBoard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.army {
  position: relative;
  margin-top: 37%;
  width: 100%;
  height: 20%;
  background-color: green;
}

