card {
  margin: 1px;
  padding: 1px;
  height: 120px;
  margin-left: 20px;
}

.mtcgBoard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  z-index: 2;
}

.army {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22%;
  background-color: green;
  z-index: 2;
}

.playdeck {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 8%;
  height: 115px;
  margin: 2px;
  display: block;
  cursor: pointer;
  background-color: blue;
  z-index: 3;
}

.attack {
  position: relative;
  float: left;
  margin-left: 20%;
  margin-top: 11%;
}
