.mtcgBoard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  background-image: url("https://lh3.googleusercontent.com/sDZn9ERq9v4ORjKEnYgDNoWmgJl3Ltm8jTWK7Wz-zSjtRA-le9jCfXPphRIRW5Iy7nwI5bpupUsMIX-EfzSIsmaP7BGwjuNfidxG");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.army {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
}


.playercard {
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  margin-top: 15%;
  margin-left: 15%;
  background-color: black;
}

.hide {
  dispay: none;
}
