.mtcgBoard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  background-image: url("https://lh3.googleusercontent.com/sDZn9ERq9v4ORjKEnYgDNoWmgJl3Ltm8jTWK7Wz-zSjtRA-le9jCfXPphRIRW5Iy7nwI5bpupUsMIX-EfzSIsmaP7BGwjuNfidxG");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.army {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
}

.drawcard {
  margin-top: 34%;
  margin-left: 7%;
}
.botarmy {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-color: transparent;
}

.playercard {
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  margin-top: -215px;
  margin-left: 15%;
  background-color: black;
}

.botcard {
  position: fixed;
  display: block;
  margin-top: 18%;
  margin-left: 51%;
}

.hide {
  dispay: none;
}

.show {
  display: block;
}

.alphaB {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  border-style: groove;
  border-color: silver;
  margin: 2px;
  opacity: 0.7;
  z-index: 5;
}
