.mtcgBoard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.army {
  position: relative;
  margin-top: 37%;
  width: 100%;
  height: 20%;
  background-color: green;
}

.draw {
  float: left;
  width: 90px;
  height: 90%;
  margin-left: 2px;
  margin-right: 10px;
  padding: 1px;
  background-color: black;
}

card {
  float: left;
  margin-left: 15px;
  margin-right: 2px;
  
}