 wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/chef-4509812_960_720.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -2;
      }

      dish {
        position: fixed;
        display: block;
        left: 0;
        top: 0;
        height: 100%;
      }

      footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      }
      .button {
        position: relative;
        display: block;
        border-style: groove;
        text-align: center;
        font-size: 20px;
        color: green;
        width: 120px;
        margin: 5%;
      }

      .buttonReady {
        position: relative;
        display: block;
        border-style: groove;
        background-color: silver;
        text-align: center;
        font-size: 20px;
        color: green;
        width: 120px;
        cursor: pointer;
        margin: 5%;
      }

      .button2 {
        float: left;
        display: block;
        border-style: groove;
        background-color: silver;
        text-align: center;
        width: 9%;
        font-size: 20px;
        color: green;
        margin-left: 1%;
        margin-right: 10%;
        margin-bottom: 15px;
        opacity: 0.8;
      }

      .items {
        position: fixed;
        display: block;
        background-color: transparent;
        background-repeat: no-repeat;
        border-style: none;
        width: 50%;
        height: 350px;
        margin-left: 22%;
        z-index: -1;
      }

      .makefood {
        position: fixed;
        display: block;
        width: 200px;
        height: 150px;
        margin-top: 23rem;
        margin-left: -5rem;
        background-image: url("/images/hamburger-31775_960_720.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        opacity: 0.01;
        z-index: 2;
        transform: rotate(0.34deg);
      }

      .platedfood {
        position: fixed;
        display: block;
        width: 200px;
        height: 150px;
        margin-top: 27rem;
        margin-left: -5rem;
        background-image: url("/images/silverware-1667987_960_720.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        opacity: 1;
        transform: rotate(-0.34deg);
      }
      .rewardicon {
        position: fixed;
        display: block;
        bottom: 0;
        right: 0;
        margin-bottom: 2.27rem;
        margin-right: 12rem;
        width: 45px;
        height: 45px;
        background-color: gold;
        background-image: url("/images/coinsTwo.png");
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        color: white;
        opacity: 0.6;
        z-index: 12;
      }
      .profileicon {
        position: fixed;
        display: block;
        bottom: 0;
        right: 0;
        margin-bottom: 2.27rem;
        margin-right: 7.59rem;
        width: 47px;
        height: 47px;
        background-color: gold;
        background-image: url("/images/avatar.png");
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        opacity: 1;
        z-index: 3;
      }

      .loginImage {
        position: relative;
        display: block;
        width: 25rem;
        height: 40rem;
        background-color: transparent;
        background-image: url("/images/login.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
      }
      .rewardPop {
        position: fixed;
        display: block;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        margin-right: 11rem;
        margin-bottom: 3rem;
        background-color: transparent;
        background-image: url("/images/confetti.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 3;
      }
      .userView {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 200px;
        background-color: silver;
        opacity: 0.6;
        z-index: 2;
      }
      .hide {
        display: none;
      }
      miner {
        display: none;
      }